/* Popup Modal Styles */

.popup-modal-container.acfb-visible {
    visibility: visible;
}

.popup-modal-container.acfb-invisible {
    visibility: hidden;
    pointer-events: none;
}

/* Asegurar que el scroll del body se bloquee correctamente */
body.acfb-overflow-hidden {
    overflow: hidden;
}

/* Transiciones personalizadas si Tailwind no las cubre todas */
.popup-modal-content {
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.5s linear;
}

.popup-modal-container {
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
